@use '../partials/variables' as *;
@use '../partials/mixins' as *;

.footer {
    display: flex;
    justify-content: space-between;
    z-index: 11;
    width: 100%;
    height: 18.8rem;
    background-color: #27DED9;
    padding: 4rem 8rem;

    &__logo {
        font-size: 2rem;
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    &__links {
        display: flex;
        justify-content: space-evenly;

        &-text {
            color: #FFF;
            font-size: 16px;
            font-weight: bold;
            line-height: 22px;
            text-decoration: none;

            &--alt {
                margin: 0 4rem;
                color: #FFF;
                font-size: 16px;
                font-weight: bold;
                line-height: 22px;
                text-decoration: none;
            }
        }
    }
}