@use '../partials/variables' as *;
@use '../partials/mixins' as *;

.grocery {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100% - 31.4rem);

    @include breakpoint(768px) {
        min-height: calc(100% - 28.4rem);
    }
    
    &__banner {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 8.3rem 1.6rem 3.9rem;
        width: 100%;
        height: 24.5rem;
        background-color: #27DED9;
 
        @include breakpoint(768px) {
            padding: 9.8rem 2.4rem 5.4rem;
        }
    
        @include breakpoint(1128px) {
            padding: 9.8rem 0 5.4rem;
        }
             
        &-title {
            margin: 0 0 0.8rem;
            width: 28.8rem;
            text-align: center;
            font-family: 'Raleway';
            font-size: 3.6rem;
            font-weight: bold;
            line-height: 4.4rem;
            color: #FFFFFF;

            @include breakpoint(768px) {
                margin: 0 0 1.6rem;
                width: 50rem;
                font-size: 4.8rem;
                line-height: 5.6rem;
            }
        }

        &-subtitle {
            width: 28.8rem;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 2.2rem;
            color: #FFFFFF;
 
            @include breakpoint(768px) {
                width: 55rem;
                font-size: 1.6rem;
                line-height: 2.4rem;
            }
        }
    }

    &__container {
        position: absolute;
        bottom: -2.4rem;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0.6rem 0.6rem 0 #90909040;
        outline: none;
        border: none;
        border-radius: 4rem;
        padding: 1.2rem 1.6rem;   
        height: 4.8rem;
        width: 28.8rem;
        background-color: #FFFFFF;

        @include breakpoint(768px) {
            padding: 1.2rem 2.4rem;   
            width: 46rem;
        }
    }

    &__arrow {
        cursor: pointer;
    }

    &__week {
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-weight: 600;
        color: #444444;
    }
    
    &__user {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6.4rem 1.6rem 2.4rem;
        width: 100%;

        @include breakpoint(768px) {
            padding: 7.2rem 0 2.4rem;
        }

        &-title {
            margin: 0 0 0.8rem;
            width: 100%;
            text-align: left;
            font-family: 'Raleway';
            font-size: 2.4rem;
            line-height: 3.2rem;      
            color: #444444;
   
            @include breakpoint(768px) {
            margin: 0 0 1.6rem;
            width: 72rem;
            }
        }

        &-form {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: 0 0 1.6rem;
            box-shadow: 0 0.5rem 1.5rem 0 #23083d17;
            border-radius: 1.5rem;
            padding: 1.6rem;
            width: 100%;
            height: 6.4rem;
            background-color: #FFFFFF;

            @include breakpoint(768px) {
            margin: 0 0 2.4rem;
            width: 72rem;
                padding: 1.6rem 2.4rem;
            }
        }

        &-add {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 1.6rem 0 0;
            outline: none;
            box-shadow: 0 4px 6px 0 rgba(103,231,228,0.5);
            border: 2px solid #27DED9;
            border-radius: 100%;
            width: 3.6rem;
            height: 3.6rem;
            background-color: #FFF;

            @include breakpoint(768px) {
                margin: 0 2.4rem 0 0;
            }  
        }

        &-item {
            outline: none;
            border: none;
            width: calc(100% - 18.4rem);
            height: 4.8rem;
            background-color: #FFFFFF;
            font-size: 1.6rem;
            line-height: 2.4rem;
            color: #444444;
            margin: 0 1.6rem 0 0;
      
            @include breakpoint(768px) {
                width: 42.6rem;
                margin: 0 2.4rem 0 0;
            }
                
            &::placeholder{
                color: #44444454;
            }
        }

        &-weight {
            height: 4.8rem;
            width: 10rem;
            background-color: #FFFFFF;
            outline: none;
            border: none;
            border-left: 1px solid #C1C1C1;
            color: #444444;
            font-size: 1.6rem;
            line-height: 2.2rem;
            padding: 0 0 0 1.6rem;   
            margin: 0 1.6rem 0 0;
            overflow: hidden;
            text-align: right; 

            @include breakpoint(768px) {
                margin: 0 2.4rem 0 0;
                width: 13rem;
                padding: 0 0 0 2.4rem;   
            }
            
            &::placeholder{
                color: #44444454;
            }

            &::-webkit-outer-spin-button,
            &::-webkit-inner-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }
        }
    }

    &__recipe {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 0 1.6rem 4rem;
        width: 100%;

        @include breakpoint(768px) {
            padding: 0 0 4.8rem;
        }

        &-title {
            margin: 0 0 0.8rem;
            width: 100%;
            text-align: left;
            font-family: 'Raleway';
            font-size: 2.4rem;
            line-height: 3.2rem;      
            color: #444444;
   
            @include breakpoint(768px) {
                margin: 0 0 1.6rem;
                width: 72rem;
            }
        }
    }

    &__list {
        list-style-type: none;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    
        @include breakpoint(768px) {
            width: 72rem;
        }
    }
    
    .item {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 1.6rem;
        box-shadow: 0 0.5rem 1.5rem 0 #23083d17;
        border-radius: 1.5rem;
        padding: 1.6rem;
        width: 100%;
        height: 6.4rem;
        background-color: #FFFFFF;

        @include breakpoint(768px) {
            margin: 0 0 2.4rem;
            padding: 1.6rem 2.4rem;
        }
        
        &__select {
            cursor: pointer;
            display: flex;
            align-items: center;
            justify-content: center;
            border: 0.1rem solid #DEE2E6;
            width: 3.6rem;
            height: 3.6rem;
            border-radius: 100%;
            margin: 0 1.6rem 0 0;

            @include breakpoint(768px) {
                margin: 0 2.4rem 0 0;
    
            }
            
            &-check {
                @extend .item__select;
                background-color: #27DED9;
                border: 0.2rem solid #6421a733;
            }
        }

        &__name {
            color: #222222;
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            text-transform: capitalize;
        
            @include breakpoint(768px) {
                
            }

            @include breakpoint(1128px) {
                
            }
        }

        &__weight {
            color: #6C757D;
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            margin: 0 3.2rem 0 auto;
            min-width: 4.4rem;
            text-align: right;

            @include breakpoint(768px) {
                margin: 0 3.2rem 0 auto;
            }
        
            &--alt {
                @extend .item__weight;
                margin: 0 0 0 auto;
            }
        }

        &__remove {
            cursor: pointer;
            visibility: initial;
            margin: 0 0 0 1.6rem;
            transform: rotate(45deg);
        
            @include breakpoint(1280px) {
                visibility: hidden;
            }
        }

        &:hover {

            .item__remove {
                visibility: initial;
            }
        }
    }
}