@use '../partials/variables' as *;
@use '../partials/mixins' as *;

.home {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    .hero {
        display: flex;
        position: relative;
        justify-content: center;
        align-items: center;
        background-color: #27ded9b3;
        width: 100%;
        height: 53.8rem;

        &__title {
            width: 49.3rem;
            color: #FFFFFF;
            font-size: 4.8rem;
            font-weight: bold;
            line-height: 5.6rem;
            margin: 0 53rem 0 0;
        }

        &__image {
            position: absolute;
            left: 68.5%;
            top: 7.2rem;
            height: 53.5rem;
            width: 24.9rem;
            border: 0.1rem solid #979797;
            transform: rotate(360deg);
            border-radius: 2.5rem;
            background-color: #D8D8D8;
        }
    }

    .summary {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 10.1rem 0;

        &__title {
            width: 54.2rem;
            color: #444444;
            font-size: 3.5rem;
            line-height: 4.1rem;
            text-align: center;
            margin: 0 0 7.5rem 0;
        }

        &__container {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        &__browse {
            display: flex;
            flex-direction: column;
            align-items: center;

            &-image {
                height: 49.7rem;
                width: 23.1rem;
                border: 0.1rem solid #979797;
                transform: rotate(360deg);
                border-radius: 2.5rem;
                background-color: #D8D8D8;
                margin: 0 0 2.4rem 0;
            } 

            &-title {
                height: 2.4rem;
                width: 27.7rem;
                color: #444444;
                font-size: 2rem;
                font-weight: 600;
                line-height: 2.4rem;
                text-align: center;
            }
        }

        &__plan {
            display: flex;
            flex-direction: column;
            align-items: center;
            margin:  0 15.5rem 0;

            &-image {
                height: 49.7rem;
                width: 23.1rem;
                border: 0.1rem solid #979797;
                transform: rotate(360deg);
                border-radius: 2.5rem;
                background-color: #D8D8D8;
                margin: 0 0 2.4rem 0;
            }

            &-title {
                height: 2.4rem;
                width: 27.7rem;
                color: #444444;
                font-size: 2rem;
                font-weight: 600;
                line-height: 2.4rem;
                text-align: center;
            }
        }

        &__shop {
            display: flex;
            flex-direction: column;
            align-items: center;

            &-image {
                height: 49.7rem;
                width: 23.1rem;
                border: 0.1rem solid #979797;
                transform: rotate(360deg);
                border-radius: 2.5rem;
                background-color: #D8D8D8;
                margin: 0 0 2.4rem 0;
            }

            &-title {
                height: 2.4rem;
                width: 27.7rem;
                color: #444444;
                font-size: 2rem;
                font-weight: 600;
                line-height: 2.4rem;
                text-align: center;
            }
        }
    }

    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 5rem;
        width: 34.3rem;
        border-radius: 2.5rem;
        background-color: #67E7E4;
        box-shadow: 0 0.5rem 1.5rem 0 #67E7E4;
        margin: 5.3rem 0 0;
        text-decoration: none;
        
        &-text {
            width: 11.1rem;
            transform: rotate(360deg);
            color: #FFFFFF;
            font-size: 1.5rem;
            font-weight: bold;
            line-height: 1.8rem;
            margin: 0 0.68rem 0 0;
            text-align: center;
        }

        &-icon {
            height: 1.5rem;
            width: 1.4rem;
            transform: rotate(360deg);
            color: #FFFFFF;
        }
    }

    &__card {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        padding: 7.2rem  0 10.1rem;

        &-title {
            width: 54.2rem;
            color: #444444;
            font-size: 3.5rem;
            line-height: 4.1rem;
            text-align: center;
            margin: 0 0 4.6rem;
        }

        &-image {
            height: 42.5rem;
            width: 20.9rem;
            border: 0.1rem solid #979797;
            transform: rotate(360deg);
            border-radius: 2.5rem;
            background-color: #D8D8D8;

            &--alt {
                height: 42.5rem;
                width: 76.1rem;
                border: 0.1rem solid #979797;
                transform: rotate(360deg);
                border-radius: 2.5rem;
                background-color: #D8D8D8;
            }
        }
    }
}