@use '../partials/variables' as *;
@use '../partials/mixins' as *;

*, *::before, *::after {
  @include boundary-reset;
  @include font-stack;
}

#root {
    display: flex;
    flex-direction: column;
    align-items: center;
}