@use '../partials/variables' as *;
@use '../partials/mixins' as *;

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 25.5rem);

    &__banner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        height: 24.5rem;
        background-color: #27DED9;
        padding: 9.8rem 0 5.4rem;
      
        &-title {
            width: 49.3rem;
            color: #FFFFFF;
            font-family: 'Raleway';
            font-size: 4.8rem;
            font-weight: bold;
            line-height: 56px;
            text-align: center;
            margin: 0 0 1.6rem;
        }

        &-subtitle {
            width: 54.2rem;
            color: #FFFFFF;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 2.2rem;
            text-align: center;
        }
    }

    &__container {
        position: absolute;
        bottom: -2.4rem;
        height: 4.8rem;
        width: 46rem;
        border-radius: 4.1rem;
        background-color: #FFFFFF;
        box-shadow: 0 0.6rem 0.6rem 0 #90909040;
        outline: none;
        border: none;
        display: flex;
        justify-content: space-between;
        padding: 1.3rem 1.6rem;   
        margin: 0 2.4rem 0 0;
    }

    &__arrow {

    }

    &__week {
        color: #444444;
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-weight: 600;
    }
    
    &__list {
        list-style-type: none;
        padding: 4.4rem 0 11.4rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__date {
        font-family: 'Raleway';
        width: 74.9rem;
        text-align: left;
        margin: 0.8rem 0;
        color: #444444;
        font-size: 24px;
        line-height: 29px;      
    }
    
    .card {
        height: 9.2rem;
        width: 74.9rem;
        border-radius: 15px;
        background-color: #FFFFFF;
        box-shadow: 0 0.5rem 1.5rem 0 #23083d17;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding: 1.6rem;
        margin: 0 0 2.4rem;

        &__image {
            height: 6rem;
            width: 6rem;
            border-radius: 1.5rem;
            box-shadow: 0 0.5rem 1.5rem 0 #23083d17;
            margin: 0 1.6rem 0 0;
        }

        &__name {
            color: #222222;
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
            margin: 0 1.6rem 0 0;
        }

        &__arrow {

        }

        &__remove {
            visibility: hidden;
            margin: 0 0 0 auto;
            transform: rotate(45deg);

            &-icon {

            }
        }

        &:hover {

            .card__remove {
                visibility: initial;
            }
        }
    }

    &__link {
        text-decoration: none;
        display: flex;
        align-items: center;
        width: 74.9rem;
        padding: 0 3.1rem;
        margin: 0 0 1.6rem;

        &-add {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 3rem;
            width: 3rem;
            background-color: #FFF;
            border-radius: 100%;
            border: 2px solid #27DED9;
            box-shadow: 0 4px 6px 0 rgba(103,231,228,0.5);
            margin: 0 1.6rem 0 0;
        }

        &-text {
            color: #222222;
            font-size: 16px;
            font-weight: 600;
            line-height: 22px;
        }
    }
}