@use '../partials/variables' as *;
@use '../partials/mixins' as *;

.menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-height: calc(100vh - 31.4rem);

    @include breakpoint(768px) {
        min-height: calc(100vh - 28.4rem);
    }
    
    &__banner {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 8.3rem 1.6rem 3.9rem;
        width: 100%;
        height: 24.5rem;
        background-color: #27DED9;
 
        @include breakpoint(768px) {
            padding: 9.8rem 2.4rem 5.4rem;
        }
    
        @include breakpoint(1128px) {
            padding: 9.8rem 0 5.4rem;
        }
             
        &-title {
            margin: 0 0 0.8rem;
            width: 28.8rem;
            text-align: center;
            font-family: 'Raleway';
            font-size: 3.6rem;
            font-weight: bold;
            line-height: 4.4rem;
            color: #FFFFFF;

            @include breakpoint(768px) {
                margin: 0 0 1.6rem;
                width: 50rem;
                font-size: 4.8rem;
                line-height: 5.6rem;
            }
        }

        &-subtitle {
            width: 28.8rem;
            text-align: center;
            font-size: 1.4rem;
            font-weight: 600;
            line-height: 2.2rem;
            color: #FFFFFF;
 
            @include breakpoint(768px) {
                width: 55rem;
                font-size: 1.6rem;
                line-height: 2.4rem;
            }
        }
    }

    &__container {
        position: absolute;
        bottom: -2.4rem;
        display: flex;
        justify-content: space-between;
        box-shadow: 0 0.6rem 0.6rem 0 #90909040;
        outline: none;
        border: none;
        border-radius: 4rem;
        padding: 1.2rem 1.6rem;   
        height: 4.8rem;
        width: 28.8rem;
        background-color: #FFFFFF;

        @include breakpoint(768px) {
            padding: 1.2rem 2.4rem;   
            width: 46rem;
        }
    }

    &__arrow {
        cursor: pointer;
    }

    &__week {
        font-size: 1.6rem;
        line-height: 2.2rem;
        font-weight: 600;
        color: #444444;
    }
    
    &__list {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 6.4rem 1.6rem 4rem;
        width: 100%;
  
        @include breakpoint(768px) {
            padding: 7.2rem 0 4.8rem;
        }
    }

    &__date {
        margin: 0.8rem 0;
        width: 100%;
        text-align: left;
        font-family: 'Raleway';
        font-size: 2.4rem;
        line-height: 3.2rem;      
        color: #444444;
   
        @include breakpoint(768px) {
            margin: 0.8rem 0 1.6rem;
            width: 72rem;
        }
    }
    
    .card {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 0 1.6rem;
        box-shadow: 0 0.5rem 1.5rem 0 #23083d17;
        border-radius: 1.5rem;
        padding: 1.6rem;
        width: 100%;
        height: 9.2rem;
        background-color: #FFFFFF;

        @include breakpoint(768px) {
            margin: 0 0 2.4rem;
            padding: 1.6rem 2.4rem;
            width: 72rem;
        }
    
        &__image {
            cursor: pointer;
            box-shadow: 0 0.5rem 1.5rem 0 #23083d17;
            border-radius: 1.5rem;
            width: 6rem;
            height: 6rem;
        }

        &__name {
            cursor: pointer;
            display: flex;
            align-items: center;
            padding: 0 1.6rem;
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 2.4rem;
            color: #222222;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;

            @include breakpoint(768px) {
                padding: 0 2.4rem; 
            }
        }

        &__arrow {
            cursor: pointer;
            height: 100%;
            margin: 0 1.6rem 0 0;
            padding: 2.45rem 0;
        }

        &__remove {
            cursor: pointer;
            visibility: initial;
            transform: rotate(45deg);
            margin: 0 0 0 auto;

            @include breakpoint(1280px) {
                visibility: hidden;
            }
        }

        &:hover {

            .card__remove {
                visibility: initial;
            }
        }
    }

    &__link {
        text-decoration: none;
        display: flex;
        align-items: center;
        margin: 0 0 0.8rem;
        padding: 0 3.1rem;
        width: 100%;

        @include breakpoint(768px) {
            margin: 0 0 1.6rem;
            padding: 0 4rem;
            width: 72rem;
        }
    
        &-add {
            display: flex;
            justify-content: center;
            align-items: center;
            margin: 0 1.6rem 0 0;
            box-shadow: 0 0.4rem 0.6rem 0 rgba(103,231,228,0.5);
            border: 0.2rem solid #27DED9;
            border-radius: 100%;
            width: 3rem;
            height: 3rem;
            background-color: #FFF;

            @include breakpoint(768px) {
                margin: 0 2.4rem 0 0;
            }
        }

        &-text {
            font-size: 1.6rem;
            font-weight: 600;
            line-height: 2.4rem;
            color: #222222;
        }
    }
}