@use '../partials/variables' as *;
@use '../partials/mixins' as *;

.toast {
    position: fixed;
    z-index: 1000;
    top: 3.9rem;
    left: center;
    height: 5.2rem;
    width: 52rem;
    border: 1px solid #1E853F;
    border-radius: 6px;
    background-color: #DCF9DF;
    justify-content: center;
    align-items: center;
    padding: 0 1.6rem;
    animation: dropIn 5s infinite;

    @keyframes dropIn {
        0% {
          transform: translateY(-9.1rem);
        }
        20% {
            transform: translateY(0rem);
          }
        80% {
          transform: translateY(0rem);
        }
        100% {
            transform: translateY(-9.1rem);
          }
      }

    &__select {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 1.6rem;
        width: 1.6rem;
        border-radius: 100%;
        margin: 0 1.6rem 0 0;
        background-color: #DCF9DF;
        border: 0.2rem solid #1E853F;
    }

    &__title {
        color: #1E853F;
        font-size: 16px;
        line-height: 22px;      
    }
}